<a href="https://colab.research.google.com/github/ElPapi42/global-happiness/blob/master/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount gdrive
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# Copy CSVs to notebook runtime storage
!cp '/content/drive/MyDrive/Datasets/2015.csv' '/content/2015.csv'
!cp '/content/drive/MyDrive/Datasets/2016.csv' '/content/2016.csv'
!cp '/content/drive/MyDrive/Datasets/2017.csv' '/content/2017.csv'
!cp '/content/drive/MyDrive/Datasets/2018.csv' '/content/2018.csv'
!cp '/content/drive/MyDrive/Datasets/2019.csv' '/content/2019.csv'

In [3]:
from datetime import datetime

import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np

# Load Datasets

In [4]:
data_15 = pd.read_csv('/content/2015.csv')
data_16 = pd.read_csv('/content/2016.csv')
data_17 = pd.read_csv('/content/2017.csv')
data_18 = pd.read_csv('/content/2018.csv')
data_19 = pd.read_csv('/content/2019.csv')

# Preprocess Datasets

### Clean 2015 Dataset

In [5]:
data_15.head(2)

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201

[2 rows x 12 columns]

In [6]:
data_15 = data_15.rename(
    columns={
        'Country': 'country',
        'Region': 'region',
        'Happiness Rank': 'rank',
        'Happiness Score': 'score',
        'Economy (GDP per Capita)': 'economy',
        'Family': 'support',
        'Health (Life Expectancy)': 'health',
        'Freedom': 'freedom',
        'Trust (Government Corruption)': 'trust',
        'Generosity': 'generosity'
    }
)

data_15 = data_15.drop(columns=['Standard Error', 'Dystopia Residual'], errors='ignore')

data_15.head(2)

       country          region  rank  ...  freedom    trust  generosity
0  Switzerland  Western Europe     1  ...  0.66557  0.41978     0.29678
1      Iceland  Western Europe     2  ...  0.62877  0.14145     0.43630

[2 rows x 10 columns]

### Clean 2016 Dataset

In [7]:
data_16.head(2)

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463

[2 rows x 13 columns]

In [8]:
data_16 = data_16.rename(
    columns={
        'Country': 'country',
        'Region': 'region',
        'Happiness Rank': 'rank',
        'Happiness Score': 'score',
        'Economy (GDP per Capita)': 'economy',
        'Family': 'support',
        'Health (Life Expectancy)': 'health',
        'Freedom': 'freedom',
        'Trust (Government Corruption)': 'trust',
        'Generosity': 'generosity'
    }
)

data_16 = data_16.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], errors='ignore')

data_16.head(2)

       country          region  rank  ...  freedom    trust  generosity
0      Denmark  Western Europe     1  ...  0.57941  0.44453     0.36171
1  Switzerland  Western Europe     2  ...  0.58557  0.41203     0.28083

[2 rows x 10 columns]

### Clean 2017 Dataset

In [9]:
data_17.head(2)

   Country  Happiness.Rank  ...  Trust..Government.Corruption.  Dystopia.Residual
0   Norway               1  ...                       0.315964           2.277027
1  Denmark               2  ...                       0.400770           2.313707

[2 rows x 12 columns]

In [10]:
data_17 = data_17.rename(
    columns={
        'Country': 'country',
        'Happiness.Rank': 'rank',
        'Happiness.Score': 'score',
        'Economy..GDP.per.Capita.': 'economy',
        'Family': 'support',
        'Health..Life.Expectancy.': 'health',
        'Freedom': 'freedom',
        'Trust..Government.Corruption.': 'trust',
        'Generosity': 'generosity'
    }
)

data_17 = data_17.drop(columns=['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], errors='ignore')

data_17.head(2)

   country  rank  score   economy  ...    health   freedom  generosity     trust
0   Norway     1  7.537  1.616463  ...  0.796667  0.635423    0.362012  0.315964
1  Denmark     2  7.522  1.482383  ...  0.792566  0.626007    0.355280  0.400770

[2 rows x 9 columns]

### Clean 2018 Dataset

In [11]:
data_18.head(2)

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340

[2 rows x 9 columns]

In [12]:
data_18 = data_18.rename(
    columns={
        'Country or region': 'country',
        'Overall rank': 'rank',
        'Score': 'score',
        'GDP per capita': 'economy',
        'Social support': 'support',
        'Healthy life expectancy': 'health',
        'Freedom to make life choices': 'freedom',
        'Perceptions of corruption': 'trust',
        'Generosity': 'generosity'
    }
)

data_18.head(2)

   rank  country  score  economy  support  health  freedom  generosity  trust
0     1  Finland  7.632    1.305    1.592   0.874    0.681       0.202  0.393
1     2   Norway  7.594    1.456    1.582   0.861    0.686       0.286  0.340

### Clean 2019 Dataset

In [13]:
data_19.head(2)

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410

[2 rows x 9 columns]

In [14]:
data_19 = data_19.rename(
    columns={
        'Country or region': 'country',
        'Overall rank': 'rank',
        'Score': 'score',
        'GDP per capita': 'economy',
        'Social support': 'support',
        'Healthy life expectancy': 'health',
        'Freedom to make life choices': 'freedom',
        'Perceptions of corruption': 'trust',
        'Generosity': 'generosity'
    }
)

data_19.head(2)

   rank  country  score  economy  support  health  freedom  generosity  trust
0     1  Finland  7.769    1.340    1.587   0.986    0.596       0.153  0.393
1     2  Denmark  7.600    1.383    1.573   0.996    0.592       0.252  0.410

PD: On years 2015-2017 Social support was connoted as 'Family', instead of 'Social support', for consistency on the aggregation of data, we keep it defined as 'support' across all the datasets

# Datasets Aggregation

### Append Year Data

We will perform aggregation later, but first, we need to add the year data to each dataset, for not to lose track of what year a record for each country was taken

In [70]:
data_15['year'] = pd.Series(data=[2015 for i in range(len(data_15))])
data_16['year'] = pd.Series(data=[2016 for i in range(len(data_16))])
data_17['year'] = pd.Series(data=[2017 for i in range(len(data_17))])
data_18['year'] = pd.Series(data=[2018 for i in range(len(data_18))])
data_19['year'] = pd.Series(data=[2019 for i in range(len(data_19))])

### Append Region Data

2018 and 2019 Dataset has no country region data. This can be usefull for calculate stats about specific regions of the world, like latam, europe or asia. Lets fill that data.

In [71]:
data_15_sub = data_15[['country', 'region']]
data_16_sub = data_16[['country', 'region']]

countries_regions = pd.concat([data_15_sub, data_16_sub])
countries_regions = countries_regions.drop_duplicates()
countries_regions.index = countries_regions.country
countries_regions = countries_regions.drop(columns='country')
countries_regions.sample(frac=0.05)

                                  region
country
Azerbaijan    Central and Eastern Europe
North Cyprus              Western Europe
Kosovo        Central and Eastern Europe
Hong Kong                   Eastern Asia
Moldova       Central and Eastern Europe
Laos                   Southeastern Asia
Zimbabwe              Sub-Saharan Africa
Mali                  Sub-Saharan Africa

Now we have a dataframe that contains all the available information about countries and regions in 2015 and 2016 datasets. Let put that data into the other datasets

In [73]:
def append_regions(series):
    try:
        series.region = countries_regions.loc[series.country].region
    except KeyError:
        series.region = None
    return series

data = pd.concat([data_15, data_16, data_17, data_18, data_19])

data = data.apply(
    func=append_regions,
    axis=1
)

data.describe()

             rank       score     economy  ...       trust  generosity         year
count  782.000000  782.000000  782.000000  ...  781.000000  782.000000   782.000000
mean    78.698210    5.379018    0.916047  ...    0.125436    0.218576  2016.993606
std     45.182384    1.127456    0.407340  ...    0.105816    0.122321     1.417364
min      1.000000    2.693000    0.000000  ...    0.000000    0.000000  2015.000000
25%     40.000000    4.509750    0.606500  ...    0.054000    0.130000  2016.000000
50%     79.000000    5.322000    0.982205  ...    0.091000    0.201982  2017.000000
75%    118.000000    6.189500    1.236187  ...    0.156030    0.278832  2018.000000
max    158.000000    7.769000    2.096000  ...    0.551910    0.838075  2019.000000

[8 rows x 9 columns]

In [ ]:
data[data.country.str.contains('Venezuela')]