<a href="https://colab.research.google.com/github/ElPapi42/global-happiness/blob/master/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount gdrive
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
# Copy CSVs to notebook runtime storage
!cp '/content/drive/MyDrive/Datasets/2015.csv' '/content/2015.csv'
!cp '/content/drive/MyDrive/Datasets/2016.csv' '/content/2016.csv'
!cp '/content/drive/MyDrive/Datasets/2017.csv' '/content/2017.csv'
!cp '/content/drive/MyDrive/Datasets/2018.csv' '/content/2018.csv'
!cp '/content/drive/MyDrive/Datasets/2019.csv' '/content/2019.csv'

In [3]:
from datetime import datetime

import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import numpy as np

# Load And Overview of Datasets

In [6]:
data_15 = pd.read_csv('/content/2015.csv')
data_16 = pd.read_csv('/content/2016.csv')
data_17 = pd.read_csv('/content/2017.csv')
data_18 = pd.read_csv('/content/2018.csv')
data_19 = pd.read_csv('/content/2019.csv')

In [10]:
data_15.head(2)

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201

[2 rows x 12 columns]

In [11]:
data_16.head(2)

       Country          Region  ...  Generosity  Dystopia Residual
0      Denmark  Western Europe  ...     0.36171            2.73939
1  Switzerland  Western Europe  ...     0.28083            2.69463

[2 rows x 13 columns]

In [12]:
data_17.head(2)

   Country  Happiness.Rank  ...  Trust..Government.Corruption.  Dystopia.Residual
0   Norway               1  ...                       0.315964           2.277027
1  Denmark               2  ...                       0.400770           2.313707

[2 rows x 12 columns]

In [13]:
data_18.head(2)

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.202                      0.393
1             2            Norway  ...       0.286                      0.340

[2 rows x 9 columns]

In [14]:
data_19.head(2)

   Overall rank Country or region  ...  Generosity  Perceptions of corruption
0             1           Finland  ...       0.153                      0.393
1             2           Denmark  ...       0.252                      0.410

[2 rows x 9 columns]